body {
  background: rgba(0, 0, 0, 0.644);
  color: white;
  background-image: url('./images/warzone-background.jpg');
  background-size: 100% 100vh;
}

.main-wrapper {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 0px;
}

.main-h1 {
  font-size: 14mm;
  margin-top: 60px;
}

.drop-input {
  height: 20px;
  width: 100%;
  font-size: 40px;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

button {
  font-size: 25px;
}

#my-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

#my-list p {
  padding: 10px;
}

p {
  margin: 0;
  font-size: 30px;
}

.button-wrapper {
  margin: 10px;
}

#random-btn {
  margin: 10px;
}

.result-section {
  height: 40%;
  margin: auto;
  display: flex;
  align-items: center;
}

#result {
  color: rgb(168, 0, 0);
  font-size: 16mm;
}

@media only screen and (max-width: 600px) {
  body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .main-h1 {
    font-size: 10mm;
    margin-top: 5px;
  }

  p {
    font-size: 28px;
  }

  button {
    font-size: 20px;
  }
}
